button {
  color: #fff !important;
  font-weight: bold;
  background-color: #007bff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
}

button:hover {
  background-color: #3a8ee6;
  color: #ffffff !important;
  cursor: pointer;
}
